body{
    background: url(https://repository-images.githubusercontent.com/303222977/09e7d200-a9be-11eb-8251-0be816d0f935)no-repeat;
}
h1{
    color: cyan;
    font-family: 'Lucida Sans';
    text-align: center;
    ;
}